@font-face {
    font-family: "ClashDisplay";
    src: url(../fonts/ClashDisplay-Light.woff2);
    font-weight: 200;
}

@font-face {
    font-family: "ClashDisplay";
    src: url(../fonts/ClashDisplay-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "ClashDisplay";
    src: url(../fonts/ClashDisplay-Semibold.woff2);
    font-weight: 600;
}

@font-face {
    font-family: "ClashDisplay";
    src: url(../fonts/ClashDisplay-Bold.woff2);
    font-weight: 900;
}

@font-face {
    font-family: "Satoshi";
    src: url(../fonts/Satoshi-Regular.woff2);
    font-weight: 900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover
}

:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-lite-gray: #F9F9F9;
    --color-dark-primary: #2A254B;
    --color-nav-linke: #726E8D;
    --color-primary: #4E4D93;
    --font-clashDisplay: 'ClashDisplay';
    --font-satoshi: 'Satoshi';
}

.btn {
    text-decoration: none;
    color: var(--color-black);
    background-color: var(--color-lite-gray);
    padding: 16px 32px;
    font-family: "Satoshi";
    font-size: 16px;
}

.btn:hover {
    color: var(--color-lite-gray);
    transition: all 0.7s;
    background-color: var(--color-dark-primary);
}

header>div {
    background-color: var(--color-dark-primary);
    color: var(--color-white);
    font-family: var(--font-satoshi);
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 24px;
    padding: 11px 9px;
    align-items: center;
}

header div p {
    display: grid;
    column-gap: 8px;
    grid-template-columns: 16px 1fr;
    justify-self: center;
}

header section {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 30px 8vw;
    align-items: center;
}

header section>a {
    text-decoration: none;
    font-family: var(--font-clashDisplay);
    font-size: 24px;
    color: #22202E;
}

header section nav {
    justify-self: center;
}

header section ul {
    display: flex;
    list-style-type: none;
    column-gap: 4vw;
}

header section ul a {
    text-decoration: none;
    color: var(--color-nav-linke);
    font-family: var(--font-satoshi);
    font-size: 16px;
}

header section div.icons {
    display: grid;
    grid-template-columns: repeat(3, 16px);
    column-gap: 16px;
    justify-self: end;
} 

main section.description {
    background-color: #F9F9F9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40vw;
    column-gap: 6vw;
    padding: 50px 8vw;
    align-items: center;
}

main section.description div h1 {
    font-family: "ClashDisplay";
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 16px;
}

main section.description div hr {
    border: 1px solid #EBE8F4;
    margin-top: 28px;
    margin-bottom: 24px;
}

main section.description div h3 {
    font-family: "ClashDisplay";
    font-size: 16px;
    font-weight: 400;
}

main section.description div p {
    font-family: var(--font-satoshi);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 36px;
    padding-top: 14px;
}

main section.description div h2 {
    font-family: var(--font-satoshi);
    font-size: 24px;
    font-weight: 400;
}

main section.description img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main section.description div.dimensions {
    display: grid;
    column-gap: 3vw;
    grid-template-columns: max-content 1px max-content 1px max-content;
}

main section.description div.dimensions p {
    display: grid;
    padding-top: 24px;
    font-family: "ClashDisplay";
    font-weight: 400;
    font-size: 14px;
}

main section.description div.dimensions p span {
    font-family: var(--font-satoshi);
    font-size: 16px;
    font-weight: 400;
}

main section.description div.dimensions div {
    background-color: var(--color-black);
    height: 40%;
    align-self: center;
}

main section.description div.quantitity {
    display: grid;
    width: 122px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 120px;
    grid-template-rows: 46px;
    justify-items: center;
    align-items: center;
    background-color: var(--color-white);
    margin-top: 12px;
}

main section.description div.quantitity span {
    font-weight: 400;
    font-family: var(--font-satoshi);
    font-size: 16px;
    padding: 12px 0;
}

main section.description div.quantitity span:nth-child(1) {
    cursor: pointer;
}

main section.description div.quantitity span:nth-child(3){
    cursor: pointer;
}

main section.description div.button {
    padding-top: 48px;
}

main section.alsolove{
    padding: 50px 8vw;
    display: grid;
    row-gap: 36px;
}

main section.alsolove span{
    font-family: "ClashDisplay";
    font-size: 32px;
    font-weight: 400;
}

main section.alsolove div{
    display: grid;
    column-gap: 2vw;
    grid-template-columns: repeat(4, 1fr);
}

main section.alsolove div article{
    display: grid;
    row-gap: 24px;
    grid-template-rows: 305px 1fr;
}

main section.alsolove div article:hover{
    transform: scale(1.05);
    transition: all 0.8s;
}

main section.alsolove div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main section.alsolove div p{
    font-family: "ClashDisplay";
    font-size: 20px;
    font-weight: 400;
    display: grid;
    flex-direction: column;
    row-gap: 8px;
}


main section.alsolove div p span{
    font-family: "Satoshi";
    font-size: 18px;
    font-weight: 400;
}

main section.alsolove a{
    justify-self: center;
}

main section.our-brand{
    padding: 100px 8vw;
    display: grid;
    row-gap: 36px;
    padding-bottom: 40px;
}

main section.our-brand h2{
    font-family: "ClashDisplay";
    font-size: 28px;
    text-align: center;
    font-weight: 400;
}

main section.our-brand div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2vw;
}

main section.our-brand div article{
    display: grid;
    grid-template-rows: 24px repeat(2, 1fr);
    row-gap: 12px;
    background-color: var(--color-lite-gray);
    padding: 48px;
}

main section.our-brand div article svg{
    height: 100%;
}

main section.our-brand div article h3{
    font-family: "ClashDisplay";
    font-size: 20px;
    font-weight: 400;
}

main section.our-brand div article p{
    font-family: "Satoshi";
}

main section.benefits{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 36vw;

}

main section.benefits img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main section.benefits div{
    display: grid;
    background-color: var(--color-white);
    padding: 5vw;
    color: var(--color-white);
    grid-template-rows: max-content;
    row-gap: 20px;
}

main section.benefits div a{
    align-self: end;
    justify-self: start;
    background-color: var(--color-nav-links);
}

main section.benefits div h2{
    font-family: "ClashDisplay";
    font-weight: normal;
    font-size: 30px;
    color: var(--color-dark-primary);
}

main section.benefits div span{
    font-family: "Satoshi";
    font-weight: normal;
    font-size: 18px;
    color: var(--color-dark-primary);
}

main section.benefits form{
    display: grid;
    grid-template-rows: 56px;
    grid-template-columns: 3fr 1fr;
    padding-top: 15vw;
}

main section.benefits form input{
    border-radius: 0;
    border: none;
    padding-left: 3vw;
}

main section.benefits form input[type=submit]{
    color: var(--color-lite-gray);
    background-color: var(--color-dark-primary);
    padding: 0 32px;
}

body>footer{
    display: grid;
    row-gap: 24px;
    padding: 60px 6vw 24px 6vw ;
    background-color: var(--color-dark-primary);
    color: var(--color-white);
}

body>footer ul{
    list-style-type: none;
    font-family: "Satoshi";
    font-weight: normal;
    font-size: 14px;
}

body>footer a{
    text-decoration: none;
    color: var(--color-white);
    cursor: pointer;
}

footer header ul li.zagAvi{
    font-family: "ClashDisplay";
    font-weight: normal;
    font-size: 36px;
}

footer header ul li.zag{
    font-family: "ClashDisplay";
    font-weight: normal;
    font-size: 16px;
}

footer header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid var(--color-nav-links);
    padding-bottom: 48px;
    align-items: start;
}

footer header ul{
    display: grid;
    row-gap: 12px;
}

footer header div.social{
    display: grid;
    row-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    padding-right: 15vw;
}

footer header div.social ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 24px;
    justify-items: end;
    justify-self: end;
    column-gap: 24px;
}

footer header div.social svg{
    height: 100%;
    color: var(--color-white);
}

footer footer span{
    justify-self: start;
    font-family: "Satoshi";
    font-weight: normal;
    font-size: 14px;
}